@font-face {
    font-family: "Futura";
    src: url("./assets/FuturaPT-Book.woff");
}
@font-face {
    font-family: "Futura";
    src: url("./assets/FuturaPT-Book.woff");
}
@font-face {
    font-family: "Futura";
    src: url("./assets/FuturaPT-Book.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Futura", sans-serif;
    line-height: 1.4;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}
body {
    overflow: hidden;
    opacity: 0;
    perspective: 1000px;
}

button {
    font-weight: 600 !important;
}
#welcome {
    // display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100dvh;
    background-color: #fff9f5;
    position: fixed;
    width: 100%;
    padding: 10vh 0;
    z-index: 1;
    & > img {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    h1 {
        position: relative;
        font-size: clamp(2.875rem, 1.1607rem + 2.6786vw, 4.375rem);
        text-align: center;
        line-height: 1.1;
        text-transform: uppercase;
        // font-weight: 600;
        cursor: default;
        overflow: hidden;
        .line,
        .word {
            font-family: "Futura";
            color: #8d3a26;
        }
        .line {
            transform: translate(0%, 100%);
            filter: blur(1px);
            opacity: 0;
        }
    }
    & > .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        // width: 100%;
        input {
            position: relative;
            width: 50vw;
            background-color: #fff9f5;
            border: 1px solid #873825;
            text-align: center;
            font-size: clamp(1.875rem, 1.0179rem + 1.3393vw, 2.625rem);
            padding: clamp(0.75rem, 0.1786rem + 0.8929vw, 1.25rem);
            font-weight: 600;
            color: #1f1f1f;
            transform: translate(0%, 100%);
            filter: blur(1px);
            text-transform: capitalize;
            opacity: 0;
        }
    }
    .inside {
        position: relative;
        width: 52vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(1.25rem, -0.8929rem + 3.3482vw, 3.125rem);
        .check {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #8d3a26;
            font-size: 20px;
            margin: 20px 0;
            gap: clamp(0.625rem, -0.0893rem + 1.1161vw, 1.25rem);
            label {
                font-size: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
                font-weight: 600;
                .word,
                .line {
                    font-size: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
                    font-weight: 600;
                }
                .line {
                    transform: translate(0%, 100%);
                    opacity: 0;
                    filter: blur(1px);
                }
            }
            input {
                all: unset;
                position: relative;
                border: 1px solid #873825;
                min-width: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
                width: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
                height: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
                min-height: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
                border-radius: 8px;
                cursor: pointer;
                transform: translate(0%, 100%);
                filter: blur(1px);
                opacity: 0;
            }
            input:checked::before {
                content: ""; /* Checkmark */
                background: url("./assets/check.png");
                position: absolute;
                background-size: 80% 80%;
                background-position: center;
                background-repeat: no-repeat;
                top: 0px;
                left: 0px;
                font-size: clamp(1.0625rem, 0.2292rem + 1.1111vw, 1.5625rem);
                border-radius: 6px;
                text-align: center;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                background-color: #8d3a26;
            }
        }
        button {
            all: unset;
            font-size: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
            padding: 15px 60px;
            background-color: #8d3a26;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transform: translate(0%, 100%);
            filter: blur(1px);
            opacity: 0;
            text-transform: uppercase;
        }
    }
}

#video {
    position: fixed;
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
    top: 0;
}
#home {
    background-color: #fff;
    overflow-y: scroll;
    position: relative;
    height: 100dvh;
    overflow-y: scroll; /* enables vertical scroll */
    -webkit-overflow-scrolling: touch;
    .logo {
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12vh 7.5vw 20vh;
        position: relative;
        pointer-events: none;
        svg,
        img {
            height: 100%;
            pointer-events: none;
        }
    }
    .swipe {
        display: none;
    }
}
.scrolll {
    align-items: flex-end;
    position: fixed;
    inset: 0;
    /* right: 0vw; */
    color: #fff;
    font-size: 30px;
    /* transform: translateY(-50%); */
    text-transform: uppercase;
    /* rotate: 90deg; */
    display: none;
    gap: 20px;
    width: 100vw;
    height: 100dvh;
    justify-content: center;
    flex-direction: column;
    align-content: flex-end;
    pointer-events: none;
    scale: 0.8;
    p {
        font-family: "Futura";
        font-size: clamp(1.25rem, 0.2083rem + 1.3889vw, 1.875rem);
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    div {
        height: 10vh;
        // background: #873825;
        // background-color: #fff;
        width: clamp(0.0625rem, -0.25rem + 0.4167vw, 0.25rem);
        position: relative;
        overflow: hidden;
        transform: translateX(-18px);

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            animation: scroll 2s ease-in-out infinite;
        }
        @keyframes scroll {
            0% {
                transform: translateY(-100%);
            }
            50% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(100%);
            }
        }
    }
}
.home::after {
    content: "";
    display: block;
    height: calc(0px + 0.5px); /* add fake content to make scroll possible */
}
.begin {
    background-color: #fff9f5;
    height: 100dvh;
    width: 100%;
    padding: clamp(5rem, 0rem + 7.8125vw, 9.375rem) clamp(7.5rem, 5.3571rem + 3.3482vw, 9.375rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transform: rotateX(0deg) rotateY(0deg) scale(0.8) translateY(118vh);
    transform-style: preserve-3d;
    pointer-events: none;
    filter: blur(0px) brightness(1);
    p.sec {
        font-size: clamp(3.75rem, 0.1042rem + 4.8611vw, 5.9375rem);
        text-align: center;
        font-family: "Futura";
        line-height: 1;
        font-weight: 600;
        * {
            line-height: 1;
        }
        .line,
        .word {
            font-family: "Futura";
            color: #8d3a26;
        }
    }

    p.fir {
        text-align: center;
        padding: 0 10vw;
        font-size: clamp(1.625rem, -0.2097rem + 2.2581vw, 2.5rem);
        .line,
        .word {
            color: #8d3a26;
            font-weight: 600;
        }
    }

    button {
        all: unset;
        font-size: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
        padding: 15px 60px;
        background-color: #8d3a26;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        pointer-events: visible;
    }
}

// #question {
//     background-color: #fff9f5;
//     height: 100vh;
//     position: fixed;
//     display: none;
.insider.first {
    transform: rotateX(0deg) rotateY(0deg) scale(1) translateY(100vh);
}
.insider.second {
    transform: rotateX(0deg) rotateY(0deg) scale(1) translateY(100vh);
}
.insider.third {
    transform: rotateX(0deg) rotateY(0deg) scale(1) translateY(100vh);
}
.insider.four {
    transform: rotateX(0deg) rotateY(0deg) scale(1) translateY(100vh);
}
.insider.five {
    transform: rotateX(0deg) rotateY(0deg) scale(1) translateY(100vh);
}

.insider {
    background-color: #fff9f5;
    filter: blur(0px) brightness(1);
    height: 100dvh;
    padding: clamp(2.5rem, -3.75rem + 8.3333vw, 6.25rem) 7.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    transform-style: preserve-3d;
    .swiper-notification {
        display: none;
    }
    & > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        p.number {
            font-weight: 600;
            text-align: center;
            font-size: clamp(1.125rem, 0.0766rem + 1.2903vw, 1.625rem);
        }
        .question {
            font-size: calc(clamp(2.875rem, 1.1607rem + 2.6786vw, 4.375rem) - 10px);
            text-align: center;
            color: #8d3a26;
            padding: 0 10%;
            line-height: 1.1;
            font-family: "Futura";
            font-weight: 600;
        }
    }
    & > div:last-child {
        display: grid;
        height: 57vh;
        .insideCards {
            display: flex;
            height: 100%;
            gap: 50px;
            &:hover {
                & > div {
                    background-color: #b18e85;
                }
            }
            & > div:hover {
                background-color: #8d3a26;
                width: calc(100% + 15vw);
            }
            & > div.active {
                background-color: #582518;
                width: calc(100% + 15vw);
            }
            & > div {
                // flex: 1;
                border: 4px solid transparent; /* must be transparent */
                border-image-source: linear-gradient(180deg, #c19546 0%, #ecc975 100%);
                border-image-slice: 1;
                width: 100%;
                height: 100%;
                background-color: #8d3a26;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: clamp(1.25rem, -0.8333rem + 2.7778vw, 2.5rem) clamp(1.25rem, -0.8333rem + 2.7778vw, 2.5rem);
                transition: all 0.2s ease;
                cursor: pointer;
                transform-style: preserve-3d;
                transform: rotateY(0deg);
                p.ans {
                    font-size: clamp(1.5rem, -0.5833rem + 2.7778vw, 2.75rem);
                    color: #fff9f4;
                }
                p.count {
                    font-size: clamp(10.625rem, 2.2917rem + 11.1111vw, 15.625rem);
                    line-height: 1;
                    text-align: right;
                    font-family: "Futura";
                    color: #d8b39a;
                    position: absolute;
                    font-weight: 600;
                    bottom: 0;
                    right: clamp(1.25rem, -0.8333rem + 2.7778vw, 2.5rem);
                }
                .back-face {
                    pointer-events: none;
                }
                .front-face,
                .back-face {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: clamp(1.25rem, -0.8333rem + 2.7778vw, 2.5rem) clamp(1.25rem, -0.8333rem + 2.7778vw, 2.5rem)
                        0;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                }
            }
        }
        .insideCards.selected {
            & > div {
                background-color: #b18e85;
            }
            & > div.active {
                background-color: #582518;
                width: calc(100% + 15vw);
            }
        }
    }
}
// }

#personality {
    transform: translateY(100dvh) scale(1);
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    background: url("./assets/backans.jpg");
    padding: 50px 7.5vw;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    align-items: center;
    .inside {
        height: 100%;
    }
    button {
        all: unset;
        font-size: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
        padding: clamp(0.3125rem, -0.7292rem + 1.3889vw, 0.9375rem) clamp(1.5625rem, -2.0833rem + 4.8611vw, 3.75rem);
        background-color: #8d3a26;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        background: linear-gradient(91.06deg, #ecc975 -25.14%, #c19546 53.95%, #a16828 129.93%);
        display: flex;
        align-items: center;
        gap: 15px;
        img {
            width: 25px;
        }
    }
    .btss {
        display: none;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 30px 0;
        h3 {
            font-size: clamp(3.125rem, 0rem + 4.1667vw, 5rem);
            font-family: "Futura";
            color: #ffffff;
            line-height: 1.1;
        }
        p {
            font-size: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
            color: #fff9f5;
        }
        & > div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            button:first-child {
                img {
                    height: 34px;
                    width: auto;
                }
            }
            button {
                all: unset;
                font-size: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
                padding: clamp(0.3125rem, -0.7292rem + 1.3889vw, 0.9375rem)
                    clamp(1.5625rem, -2.0833rem + 4.8611vw, 3.75rem);
                background-color: #8d3a26;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
                text-transform: uppercase;
                background: linear-gradient(91.06deg, #ecc975 -25.14%, #c19546 53.95%, #a16828 129.93%);
                display: flex;
                align-items: center;
                gap: 15px;
                img {
                    width: 25px;
                }
            }
        }
    }
    #result {
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            margin-top: -3%;
        }
        width: auto;
        // height: calc(100vh - clamp(6.25rem, -6.8548rem + 16.129vw, 12.5rem));
        height: clamp(34rem, -4.0643rem + 44.5848vw, 49.4375rem);
        background: url("./assets/result_back.jpg");
        background-color: #fff8ed;
        background-size: cover;
        aspect-ratio: 9/16;
        padding: clamp(1.5625rem, 2.2177rem + -0.8065vw, 1.25rem) 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
            width: 35%;
            margin-bottom: -5%;
        }
        #resultimg1 {
            width: 85%;
        }
        p {
            font-size: clamp(0.6875rem, -0.3912rem + 1.2635vw, 1.125rem);
            text-transform: uppercase;
            text-align: center;
            color: #8d3a26;
            font-weight: 600;
            line-height: 1.1;
        }
        .usernameRe {
            margin-bottom: clamp(0.625rem, -0.0302rem + 0.8065vw, 0.9375rem);
        }
        .usernameRe,
        .title {
            font-size: clamp(1.75rem, -0.7157rem + 2.8881vw, 2.75rem);
            font-weight: 600;
            font-family: "Futura";
        }
        .copy {
            padding: 0 clamp(1.875rem, 0.5645rem + 1.6129vw, 2.5rem);
            font-size: clamp(0.5625rem, -0.0539rem + 0.722vw, 0.8125rem);
            text-transform: unset;
        }
    }
}

#footer {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    padding: 50px 7.5vw;
    background-color: #fff9f5;
    position: relative;
    p {
        font-size: 14px;
        color: #8e8e8e;
        position: absolute;
        bottom: 50px;
        left: 7.5vw;
    }
}
@media screen and (max-width: 820px) and (max-height: 1024px) {
    .insider {
        align-items: center;
        gap: 50px;
        & > div:last-child {
            max-height: 450px;
            width: 100%;
            .insideCards {
                gap: 20px;
            }
        }
    }
    #personality {
        gap: 30px;
    }
}

@media screen and (max-width: 1024px) {
    #personality {
        #result {
            height: auto;
            width: 100%;
            max-width: 350px;
            min-width: 310px;
        }
    }
}
@media screen and (max-width: 820px) {
    #welcome {
        justify-content: center;
        gap: 70px;
        padding: 10vh 5vw;
        height: 100dvh;
        h1 {
            font-size: 40px;
            line-height: 1.3;
            overflow: unset;
        }
        & > .inputContainer {
            width: 100%;
            input {
                width: 100%;
                font-size: 20px;
            }
        }
        .inside {
            width: 100%;
            gap: 50px;
            .check {
                margin: 0;
                label {
                    font-size: 18px;
                    transform: translate(0%, 100%);
                    opacity: 0;
                    filter: blur(1px);
                }
                input:checked::before {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    #home {
        .scrolll {
            display: none;
        }
        .swipe {
            flex-direction: column;
            align-items: center;
            position: absolute;
            bottom: 5dvh;
            width: 100%;
            text-align: center;
            img {
                width: 70px;
                filter: invert(1);
            }
            small {
                font-size: 15px;
                color: #fff9f4;
                font-weight: 100;
            }
        }
        .logo {
            height: 90dvh;
            padding: 12vh 10vw;
            svg,
            img {
                width: 100%;
                max-width: 350px;
                height: auto;
            }
        }
    }
    .begin {
        padding: 120px 20px;
        gap: 30px;
        p.fir {
            padding: 0;
            font-size: 18px;
        }
        p.sec {
            font-size: 30px;
        }
        button {
            font-size: 16px;
            padding: 8px 15px;
        }
    }
    .insider {
        width: 100%;
        justify-content: center;
        gap: 30px;
        padding: 20px 15px;
        overflow-y: auto;
        & > div:first-child {
            gap: 10px;
            .question {
                font-size: 25px;
                padding: 0 5vw;
            }
        }
        & > div:last-child {
            width: 100%;
            height: auto;
            min-height: auto;
            .insideCards.selected {
                & > div.active {
                    background-color: #582518;
                    width: 100%;
                }
            }
            .insideCards {
                gap: 15px;
                flex-direction: column;
                & > div.swiper-slide-active,
                & > div.active,
                & > div:hover {
                    background-color: #8d3a26;
                    filter: blur(0px);
                    width: 100%;
                    transition: all 0.3s;
                }
                & > div {
                    // background-color: #b18e85;
                    // filter: blur(2px);
                    height: 145px;
                    transition: all 0.3s;
                    padding: 20px clamp(1.25rem, -0.8333rem + 2.7778vw, 2.5rem) 20px;
                    .back-face {
                        position: relative;
                        display: none;
                    }
                    .front-face {
                        position: relative;
                        padding: 0;
                        box-shadow: unset;
                        display: grid;
                        grid-template-columns: auto 50px;
                        gap: 0px;
                        p.ans {
                            font-size: 24px;
                        }
                        .count {
                            font-size: 70px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    #personality {
        // transform: translateY(0vh) scale(1);
        z-index: 9;
        grid-template-columns: auto;
        height: auto;
        justify-content: center;

        .text {
            padding: 0;
            h3 {
                font-size: 40px;
                margin-bottom: 30px;
                text-align: center;
            }
            p {
                font-size: 18px;
                text-align: center;
                margin-bottom: 20px;
            }
            & > div {
                display: none;
            }
        }
        gap: 20px;
        .btss {
            margin-top: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            button {
                font-size: 16px;
                padding: 8px 15px;
            }
            button:last-child {
                img {
                    height: 20px;
                }
            }
        }
        #result {
            max-width: 350px;
            margin: 0 auto;
            p {
                font-size: 13px;
            }
            .title,
            .usernameRe {
                font-size: 28px;
            }
            .copy {
                font-size: 8px;
            }
        }
    }

    #footer {
        flex-direction: column;
        gap: 50px;
        img {
            width: 70vw;
        }
        p {
            position: relative;
            bottom: 0;
            left: unset;
            text-align: center;
        }
    }
}

@media screen and (max-width: 390px) {
    .insider {
        overflow-y: auto;
        & > div:last-child {
            .insideCards {
                & > div {
                    padding: 15px;
                    height: 122px;
                    .front-face {
                        p.ans {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 330px) {
    #personality {
        #result {
            max-width: 300px;
            margin: 0 auto;
            min-width: 250px;
            p {
                font-size: 11px;
            }
            .title,
            .usernameRe {
                font-size: 23px;
            }
            .copy {
                font-size: 8px;
            }
        }
    }
}